.wrapper {
    width: border-box;
    min-height: 38px;
    flex-wrap: wrap;
    border-style: solid;
    border-color: var(--border);
}

.header{
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 0 20px;
}

.header_tittle{
}

.header_tittle_bold{
    font-weight: bold;
}

.header_action{
}

.list{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 20px;
    max-height: 15rem;
    overflow: auto;
}

 li{
    list-style-type: none;}
